
<div class="form-header">

  <h2>Crear Cuenta</h2>
</div>
  <form method="post" action="/crear" novalidate>
    <div class="form-field">
      <label for="nombre">Nombre</label>
      <input class="input" id="nombre" name="nombre" autofocus value=""/>
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input class="input" id="email" name="email" type="email" value="" />
    </div>
    <div class="form-field">
        <label for="password">Email</label>
        <input class="input" id="pswd" name="pswd" type="password" value="" />
      </div>
    <div class="form-actions">
      <button class="btn" type="submit">Crear</button>
    </div>
  </form>
  